fastapi==0.116.2
uvicorn[standard]==0.35.0

SQLAlchemy==2.0.31
psycopg2-binary==2.9.9  # Postgres на Render [web:22][web:24]

python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9

pydantic==2.11.9
